.input {
    margin:13px;
    width: 300px;
    height: 20px;
    cursor: pointer;
}

.button {
    background-color: #6b7cd3;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    width: 100px;
    height: 25px;
    font-size: 16px;

}
