body {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

ul {
  list-style: none;
}

span {
  margin-left: 10px;
}

li {
  margin-top: 24px;
}

.delete {
  color: red;
  cursor: pointer;
}

input:checked + span {
  text-decoration: line-through;
} 